body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: hsla(221, 45%, 73%, 1);

background: linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 );
}

#landscape-generator {
    text-align: center;
}

#landscape {
    width: 800px;
    height: 500px;
    background-image: url(./Nouvelle_terre_1.jpg);
    background-size:cover;  
    background-repeat: no-repeat;
    position: relative;
}

#landscape div {
    position: absolute;
    user-select: none;
}
#ressource div {
    position: absolute;
}
